#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  flex: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > * {
  flex: 1;
  max-width: 400px;
  margin-bottom: 8px;
}
